.vscode/settings.json
.vscode/tasks.json
Day1/day_1_part_1.exe
Day1/day_1_part_1.ilk
Day1/day_1_part_1.pdb
Day1/day_1_part_2.exe
Day1/day_1_part_2.ilk
Day1/day_1_part_2.pdb
Day1/input.txt
Day2/day_2_part_1.exe
Day2/day_2_part_1.ilk
Day2/day_2_part_1.pdb
Day2/day_2_part_2.exe
Day2/day_2_part_2.ilk
Day2/day_2_part_2.pdb
Day2/input.txt
